// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "node_modules/font-awesome/scss/font-awesome.scss";

body{
    background: white;

    .container {
        display: flex; /* or inline-flex */
        height: -webkit-fill-available;
        padding: 2% 0;
    }

    .main    { flex: 2.2; }

    .sidebar { 
        flex: 1;
        display: flex;
        margin-right: 1em; 
    }

    table{
        text-align: left;
        margin-top: 1em;
        table-layout: auto;
        width: 100%;
        tr {
            border-bottom: 1pt solid black;
        }
    }

    #elementid, .lat, .long {
        display: none;
    }

    #add-view-mode{
        float: left;
    }
    #search {
        margin-top: 1em;
        #searchInput{
            width: 90%;
        }
        #label {
            top: 102px;
        }      
    }
    .sidebarWrapper{
        width: 90%;
        overflow: auto;
    }
    .fa-pencil {
        padding-right: 5em;
    }
    .fa-long-arrow-left, .fa-floppy-o, .fa-plus, .fa-filter, .fa-pencil, .fa-trash-o{
        color: blue;
        padding-top: 0.5em;
    }
    .fa-info-circle{
        color: darkorange;
        padding-top: 0.5em;
    }
    h6{
        color: darkorange;
        padding-top: 0.5em;
    }
    #edit-delete-function{
        padding-top: 1em;
    }
    form{
        margin-top: -1.5em;
    }
}

